* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
*:focus {
    outline: none;
}
html,body {
	width: 100%;
	height: 100%;
}
html {
	overflow: hidden;
}
body{
	-webkit-overflow-scrolling: touch;
}
.container{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
a:hover {
	font-weight: 900;
}

h4, p {
	color: #1A1A1A;
}

/*------------------------NAV BAR-----------------------------------*/
.nav {
	width: 100%;
	height: 60px;
	opacity: .9;
	position: relative;
	z-index: 2;
	background-color: #003D5C;
}

.logo {
	width: 150px;
	height: 60px;
	display: inline-block;
	font-family: "Montserrat";
	color: white;
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
}

.dropdown {
	height: 60px;
	width: 60px;
	float: right;
}

.grey{
	border: 1px solid #002B40;
	border-radius: 2px;
}

.dropdown a{
	background-image: url("img/dropdown.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 35px;
	width: 60px;
	margin-top: 13px;
	display: inline-block;
}

.menu {
	float: right;
	padding: 10px;
}
.menu a {
	text-decoration: none;
	color: white;
}

.menu li {
	
	display: inline-block;
	font-family: "Montserrat";
	padding: 10px;
}

.about {
	width: 200px;
	height: 250px;
	text-align: center;
	background-color: #003D5C;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border: 1px solid #002B40;
	position: absolute;
	z-index: 2;
	text-decoration: none;
	color: white;
	font-family: "Montserrat";
	list-style-type: none;
}

.donatebtn{
	background-color: #3B5998;
	border-radius: 2px;
}

.dropdownmenu {
	width: 150px;
	height: 220px;
	text-align: center;
	background-color: #003D5C;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border: 1px solid #002B40;
	position: absolute;
	right: 0;
	z-index: 2;
}

.hidden {
	display: none;
}
@media screen and (max-width: 658px){
	.about {
		display: none;
	}
}

@media screen and (min-width: 658px) {
	.dropdown {
		display: none;
	}
	
	.menu {
		display: inline;
	}
}

@media screen and (min-width: 810px){
	.menu li {
		margin: 0 15px;
	}
}

@media screen and (min-width: 1024px){
	.menu li {
		margin: 0 20px;
	}
}

/*-------------------------------FRONT PAGE PIC-----------------------*/
.frntpic {
	height: 100%;
	background-image: url("img/frntpic.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-size: cover;
	background-position: 60% 30%;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.71);
}

header {
	width: 100%;
	margin-top: 100px;
	text-align: center;
	font-family: "Montserrat";
	color: white;
	position: relative;
	z-index: 1;
}
h1 {
	letter-spacing: .2em;
	font-size: 40px;
	padding: 15px;
}

h2 {
	color: #558566;
	font-family: "Montserrat";
}
header h3 {
	padding: 15px;
}

header a {
	text-decoration: none;
	color: white;
}
.moreinfo {
	
	border: 3px solid;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
@media screen and (min-height: 570px){
	header {
		margin-top: 200px;
	}
}

@media screen and (min-width: 768px){
	header {
		margin-top: 30em;
	}
	h1 {
		font-size: 3em;
		padding-bottom: 30px;
	}
	header h3, header a {
		font-size: 1.5em;
		padding: 15px;
	}
}

@media screen and (min-width: 1024px) {
	header {
		margin-top: 300px;
	}
	h1 {
		font-size: 80px;
		padding-bottom: 30px;
	}
	header h3, header a {
		font-size: 30px;
		padding: 15px;
	}
}
/*----------------------STATEMENT--------------------------*/
.verse {
	width: 100%;
	padding: 55px;
	font-family: "Montserrat";
	display: inline-block;
	position: relative;
}
.statement, .statement-support {
	width: 100%;
	padding: 20px;
	font-family: "Montserrat";
	display: inline-block;
	vertical-align: top;
	height: 285px;
  text-align: center;
  background-size: cover;
  padding-top: 0;
}

.statement h2, .statement-support h2 {
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.hovertext{
	color: white;
	background-color: rgba(1,1,1,.5);
}

#whoweare, #ourhope, #purpose{
	background-color: grey;
}

#whoweare{
	background-image: url(img/Devalve-8874.jpg);
	background-blend-mode: multiply;
}

#ourhope{
	background-image: url(img/ourhope.jpg);
	background-blend-mode: multiply;
}

#purpose{
	background-image: url(img/purpose.jpg);
	background-blend-mode: multiply;
}
.social-media {
	width: 100%;
	text-align: center;
	font-family: "Montserrat";
	padding: 0 15px;
}

.smlinks{
	padding: 35px;
}

#mc_embed_signup_scroll_frnt h2 {
	width: 100%;
	font-size: 1.3em;
}

#mc_embed_signup_scroll_frnt .button {	
    border: 1px solid;
    font-size: small;
    padding: 5px;

}

@media screen and (min-width: 768px) {
	.statement {
		width: 49%;
	}
	.statement-support{
		width: 100%;
	}
	.social-media a {
		margin: 0 15px;
	}
}

@media screen and (min-width: 1024px) {
	.statement, .statement-support{
		width: 33%;
	}
	.hovertext{
		display: none;
		background-color: none;
	}
	#whoweare:hover, #ourhope:hover, #purpose:hover{
		background-color: grey;
	}
	#whoweare, #ourhope, #purpose{
		background-color: transparent;
	}
		
}

/*------------------------OUR STORY----------------------*/
.story {
	width: 100%;
	max-width: 900px;
	font-family: "Montserrat";
	display: block;
	overflow: hidden;
	padding: 15px;
	padding-top: 50px;
	font-size: 20px;
    line-height: 27px;
}

.story p {
	margin: 0 0 20px 0;
}

#pic1 {
	float: left;
	width: 100%;
	padding: 0 20px 20px 20px;
	max-width: 380px;
}

#pic2 {
	float: right;
	width: 100%;
	padding: 10px;
}

.storypics {
	width: 100%;
	max-width: 1100px;
	text-align: center;
	display: block;
}

.storypics img {
	width: 100%;
	padding: 10px;
	margin: 0 2.5% 0 2.5%;
}
#ntlogo {
	float: right;
}

.blog-link {
	display: block;
	text-align: center;
}

@media screen and (min-width: 428px) {
	#pic1, #pic2{
		width: 60%;
	}
	.storypics img {
		width: 60%;
	} 

}
/*--------------------------BLOG-------------------------------*/
.section {
	width: 100%;
	max-width: 800px;
	padding: 20px;
	margin-top: 20px;
	font-family: "Montserrat";
	display: block;
}

.calendar {
	width: 100%;
	height: 300px;
	max-width: 800px;
	display: block;
}

.imgWrap {
  position: relative;
  width: 100%;

}
#blog-pic {
	width: 100%;;
}
.imgDescription {
  position: absolute;
  font-family: "Montserrat";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30%;
  background: rgba(20,20,20, 0.2);
  color: #fff;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 598px) {
	.calendar{
		height: 600px;
	}
}

@media screen and (min-width: 1024px) {
		.imgWrap{
		width: 50%;
		margin: 15px auto 70px auto;
	}

}
@media screen and (min-width: 1025px) {
		.imgDescription {
		visibility: hidden;
  		opacity: 0;

  		-webkit-transition: visibility opacity 0.2s;
	}
}
/*----------------------------DONATE----------------------------*/
.section p {
	padding: 5px 0;
}

.section h3 {
	color: #990000;
	font-size: 23px;
	margin-top: 10px;
}

.section ul {
	margin: 0 20px;
}
.section li {
	padding: 10px 0;
}

.important {
	font-style: italic;
}
.address {
	text-align: center;
	font-weight: 800;
	font-size: 20px;
}
.important-note{
	font-weight: 800;
	font-size: 18px;
}
.important-note li {
	padding: 0;
	margin: 0;
}
.donate-container p {
	font-size: 20px;
}
.donate-container span {
	text-align: center;
    display: block;
}
/*--------------------------------CONTACT US--------------------------*/
.contact-container{
	min-height: 600px;
}
#mc_embed_signup {
	font-family: "Montserrat";
	margin: 5px auto;
	width: 100%;
	max-width: 800px;

}
.mc-field-group {
	margin: 5px 0;
}
.mc-field-group label {
	font-family: "Montserrat";
	display: inline-block;
	text-align: right;
}

#mce-EMAIL {
	width: 45%;
	height: 21px;
	margin-bottom: 5px;
	max-width: 300px;
	display: inline-block;
}

.indicates-required, .clear{
	position: relative;
	left: 30%;
}

#mc-embedded-subscribe{
	width: 100px;
}


/*---------------------FOOTER-------------------------------*/
footer {
	width: 100%;
	margin-top: 100px;
	background-color: #003D5C;
	height: auto;
	min-height: 135px;
	clear: both;
}

footer ul {
	width: 100%;
	padding: 55px 0 10px 0;
	text-align: center;
}
footer ul a {
	text-decoration: none;
	color: white;
}

footer li {
	
	display: inline-block;
	font-family: "Montserrat";
	font-size: 13px;
	padding: 10px 10px;
	width: 100%;
	border-bottom: 1px solid #DEF2FF;
}

.creator {
	text-decoration: none;
	color: white;
	display: block;
	text-align: right;
	padding: 10px 5px;
	font-family: "Montserrat";
	font-size: 10px; 
}

@media screen and (min-width: 768px) {
	footer li {
		width: auto;
		border: none;
	}

}



